<h2>Add a screening!</h2>
<h3>Current screening plan:</h3>
<table>
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Movie</th>
        <th>Audio</th>
        <th>Lector</th>
        <th>Subtitles</th>
        <th>Room name</th>
        <th>Ticket price (base)</th>
    </tr>
    <% for(let screening of schedule) { %>
        <tr>
            <td><%= screening.screening_date.toLocaleDateString('pl-PL') %></td>
            <td><%= screening.screening_hour.slice(0, -3) %></td>
            <td><%= screening.title %></td>
            <td><%= screening.audio %></td>
            <td><%= screening.lector %></td>
            <td><%= screening.subtitles %></td>
            <td><%= screening.room_name %></td>
            <td><%= screening.base_ticket_price %> PLN</td>
        </tr>
    <% } %>
</table>
<h3>Available regionalizations:</h3>
<table>
    <tr>
        <th>No.</th>
        <th>Audio</th>
        <th>Lector</th>
        <th>Subtitles</th>
    </tr>
    <% for(let i = 0; i < regionalizations.length; ++i) { %>
        <tr>
            <td><%= i + 1 %></td>
            <td><%= regionalizations[i].audio %></td>
            <td><%= regionalizations[i].lector %></td>
            <td><%= regionalizations[i].subtitles %></td>
        </tr>
    <% } %>
</table>
<form name="screening_addition" action="/add-screening-result" method="post">
    <label for="screening_movie">Which movie? </label>
    <select name="screening_movie" required>
        <% for(let movie of movies) { %>
            <option value="'<%= movie.title %>'">
                <%= movie.title %>
                <%= movie.movie_id %>
            </option>
        <% } %>
    </select>
    <br/>
    <label for="screening_date screening_time">When? </label>
    <input name="screening_date" type="date" required/>
    <input name="screening_time" type="time" required/>
    <br/>
    <label for="screening_audio">Audio: </label>
    <select name="screening_audio">
        <option value="NULL">[none]</option>
        <% for(let language of languages) { %>
            <option value="'<%= language.language_name %>'">
                <%= language.language_name %>
            </option>
        <% } %>
    </select>
    <br/>
    <label for="screening_lector">Lector: </label>
    <select name="screening_lector">
        <option value="NULL">[none]</option>
        <% for(let language of languages) { %>
            <option value="'<%= language.language_name %>'">
                <%= language.language_name %>
            </option>
        <% } %>
    </select>
    <br/>
    <label for="screening_subtitles">Subtitles: </label>
    <select name="screening_subtitles">
        <option value="NULL">[none]</option>
        <% for(let language of languages) { %>
            <option value="'<%= language.language_name %>'">
                <%= language.language_name %>
            </option>
        <% } %>
    </select>
    <br/>
    <label for="screening_room">Screening room: </label>
    <select name="screening_room">
        <% for(let room of rooms) { %>
            <option value="'<%= room.room_name %>'">
                <%= room.room_name %>
            </option>
        <% } %>
    </select>
    <br/>
    <label for="screening_ticket_price">Base ticket price: </label>
    <input name="screening_ticket_price" type="number" min="0" required/>
    <br/>
    <input type="submit" value="Add to schedule"/>
</form>
