<h2>Alter movie:</h2>
<form action="/update-movie-title?movie_id=<%= movie.movie_id %>" method="post">
    <label for="new_title">Change title:</label>
    <input name="new_title" type="text" value="<%= movie.title %>" required/>
    <input type="submit" value="Update title"/>
</form>
<form action="/update-movie-language?movie_id=<%= movie.movie_id %>" method="post">
    <label for="language">Change language: </label>
    <select name="language">
        <option value="">[none]</option>
        <% for(let language of languages) { %>
            <option value="<%= language.language_id %>">
                <%= language.language_name %>
            </option>
        <% } %>
    </select>
    <input type="submit" value="Update language"/>
</form>
<form action="/update-movie-age-rating?movie_id=<%= movie.movie_id %>" method="post">
    <label for="age_rating">Change age rating:</label>
    <input name="age_rating" type="number" min="0" max="19" value="<%= movie.age_rating %>" required/>
    <input type="submit" value="Update age rating"/>
</form>
<form action="/update-movie-release-date?movie_id=<%= movie.movie_id %>" method="post">
    <label for="release_date">Change release date:</label>
    <input name="release_date" type="date" value=""/>
    <input type="submit" value="Update release date"/>
</form>
<table>
    <tr>
        <th>ID</th>
        <th>title</th>
        <th>genres</th>
        <th>age rating</th>
        <th>release date</th>
        <th>language</th>
        <th>directed by</th>
        <th>screenplay by</th>
        <th>starring</th>
        <th>music by</th>
        <th>produced by</th>
        <th>reviewed as</th>
    </tr>
        <tr>
            <td>
                <%= movie.movie_id %>
            </td>
            <td>
                <%= movie.title %>
            </td>
            <td>
                <%= movie.genres %>
            </td>
            <td>
                <%= movie.age_rating %>
            </td>
            <td>
                <% if(movie.release_date != null) { %>
                    <%= movie.release_date.toLocaleDateString() %>
                <% } %>
            </td>
            <td>
                <%= movie.original_language %>
            </td>
            <td>
                <%= movie.directed_by %>
            </td>
            <td>
                <%= movie.screenplay_by %>
            </td>
            <td>
                <%= movie.starring %>
            </td>
            <td>
                <%= movie.music_by %>
            </td>
            <td>
                <%= movie.produced_by %>
            </td>
            <td>
                <%= movie.reviewed_as %>
            </td>
        </tr>
</table>
<br/>

<h2>Add actor to movie</h2>
<form action="/add-movie-actor-action?movie_id=<%= movie.movie_id %>" method="post">
    <select name="actor_id" required>
        <option value="">[Select actor]</option>
        <% for(let person of people) { %>
            <option value="<%= person.person_id %>">
                (<%= person.person_id %>)
                <%= person.personal_info %>
            </option>
        <% } %>
    </select>
    <label for="portraying">Portraying:</label>
    <input name="portraying" type="text" required/>
    <br/>
    <input type="submit" value="Add actor"/>
</form>
<br/>

<h2>Delete actor from movie</h2>
<form action="/delete-movie-actor-action?movie_id=<%= movie.movie_id %>" method="post">
    <select name="actor" required>
        <option value="">[Select actor]</option>
        <% for(let person of actors_in_movie) { %>
            <option value="<%= person.person_id %> '<%= person.portraying %>'">
                (<%= person.person_id %>)
                <%= person.personal_info %>
                as
                <%= person.portraying %>
            </option>
        <% } %>
    </select>
    <br/>
    <input type="submit" value="Delete actor"/>
</form>
<br/>

<h2>Add director to movie</h2>
<form action="/add-movie-director-action?movie_id=<%= movie.movie_id %>" method="post">
    <select name="director_id" required>
        <option value="">[Select director]</option>
        <% for(let person of people) { %>
            <option value="<%= person.person_id %>">
                (<%= person.person_id %>)
                <%= person.personal_info %>
            </option>
        <% } %>
    </select>
    <br/>
    <input type="submit" value="Add director"/>
</form>
<br/>

<h2>Delete director from movie</h2>
<form action="/delete-movie-director-action?movie_id=<%= movie.movie_id %>" method="post">
    <select name="director_id" required>
        <option value="">[Select director]</option>
        <% for(let person of directors_in_movie) { %>
            <option value="<%= person.person_id %>">
                (<%= person.person_id %>)
                <%= person.personal_info %>
            </option>
        <% } %>
    </select>
    <br/>
    <input type="submit" value="Delete director"/>
</form>
<br/>

<h2>Add composer to movie</h2>
<form action="/add-movie-composer-action?movie_id=<%= movie.movie_id %>" method="post">
    <select name="composer_id" required>
        <option value="">[Select composer]</option>
        <% for(let person of people) { %>
            <option value="<%= person.person_id %>">
                (<%= person.person_id %>)
                <%= person.personal_info %>
            </option>
        <% } %>
    </select>
    <br/>
    <input type="submit" value="Add composer"/>
</form>
<br/>

<h2>Delete composer from movie</h2>
<form action="/delete-movie-composer-action?movie_id=<%= movie.movie_id %>" method="post">
    <select name="composer_id" required>
        <option value="">[Select composer]</option>
        <% for(let person of composers_in_movie) { %>
            <option value="<%= person.person_id %>">
                (<%= person.person_id %>)
                <%= person.personal_info %>
            </option>
        <% } %>
    </select>
    <br/>
    <input type="submit" value="Delete composer"/>
</form>
<br/>

<h2>Add screenwriter to movie</h2>
<form action="/add-movie-screenwriter-action?movie_id=<%= movie.movie_id %>" method="post">
    <select name="screenwriter_id" required>
        <option value="">[Select screenwriter]</option>
        <% for(let person of people) { %>
            <option value="<%= person.person_id %>">
                (<%= person.person_id %>)
                <%= person.personal_info %>
            </option>
        <% } %>
    </select>
    <br/>
    <input type="submit" value="Add screenwriter"/>
</form>
<br/>

<h2>Delete screenwriter from movie</h2>
<form action="/delete-movie-screenwriter-action?movie_id=<%= movie.movie_id %>" method="post">
    <select name="screenwriter_id" required>
        <option value="">[Select screenwriter]</option>
        <% for(let person of screenwriters_in_movie) { %>
            <option value="<%= person.person_id %>">
                (<%= person.person_id %>)
                <%= person.personal_info %>
            </option>
        <% } %>
    </select>
    <br/>
    <input type="submit" value="Delete screenwriter"/>
</form>
<br/>

<h2>Add producer to movie</h2>
<form action="/add-movie-producer-action?movie_id=<%= movie.movie_id %>" method="post">
    <select name="producer_id" required>
        <option value="">[Select producer]</option>
        <% for(let producer of producers) { %>
            <option value="<%= producer.producer_id %>">
                (<%= producer.producer_id %>)
                <%= producer.company_name %>
            </option>
        <% } %>
    </select>
    <br/>
    <input type="submit" value="Add producer"/>
</form>
<br/>

<h2>Delete producer from movie</h2>
<form action="/delete-movie-producer-action?movie_id=<%= movie.movie_id %>" method="post">
    <select name="producer_id" required>
        <option value="">[Select producer]</option>
        <% for(let producer of producers_in_movie) { %>
            <option value="<%= producer.producer_id %>">
                (<%= producer.producer_id %>)
                <%= producer.company_name %>
            </option>
        <% } %>
    </select>
    <br/>
    <input type="submit" value="Delete producer"/>
</form>
<br/>

<h2>Add genre to movie</h2>
<form action="/add-movie-genre-action?movie_id=<%= movie.movie_id %>" method="post">
    <select name="genre_id" required>
        <option value="">[Select genre]</option>
        <% for(let genre of genres) { %>
            <option value="<%= genre.genre_id %>">
                <%= genre.genre_name %>
            </option>
        <% } %>
    </select>
    <br/>
    <input type="submit" value="Add genre"/>
</form>
<br/>

<h2>Delete genre from movie</h2>
<form action="/delete-movie-genre-action?movie_id=<%= movie.movie_id %>" method="post">
    <select name="genre_id" required>
        <option value="">[Select genre]</option>
        <% for(let genre of genres_in_movie) { %>
            <option value="<%= genre.genre_id %>">
                <%= genre.genre_name %>
            </option>
        <% } %>
    </select>
    <br/>
    <input type="submit" value="Delete genre"/>
</form>
<br/>


<h2>Add review for this movie</h2>
<form action="/add-movie-review-action?movie_id=<%= movie.movie_id %>" method="post">
    <select name="review_id" required>
        <option value="">[Select review]</option>
        <% for(let review of reviews) { %>
            <option value="<%= review.review_id %>">
                <%= review.title %>
            </option>
        <% } %>
    </select>
    <br/>
    <input type="submit" value="Add review"/>
</form>
<br/>

<h2>Unlink review from movie</h2>
<form action="/delete-movie-review-action?movie_id=<%= movie.movie_id %>" method="post">
    <select name="review_id" required>
        <option value="">[Select review]</option>
        <% for(let review of reviews_for_movie) { %>
            <option value="<%= review.review_id %>">
                <%= review.title %>
            </option>
        <% } %>
    </select>
    <br/>
    <input type="submit" value="Unlink review"/>
</form>
<br/>
