<h1>
    <% if(criteria_provided) { %>
        Movies that match the search criteria:
    <% } else { %>
        Movies present in our database:
    <% } %>
    <%= movies.length %>
</h1>
<form action="/search" method="post">
    <label for="search">Search by title:</label>
    <input name="search" type="text" required/>
    <input type="submit" value="Search"/>
</form>
<h2>Add movie</h2>
<form action="/add-movie-action" method="post">
    <label for="title">Title</label>
    <input name="title" type="text" required/>
    <br/>
    <label for="age_rating">Age rating</label>
    <input name="age_rating" type="number" min="0" max="19" required/>
    <br/>
    <label for="release_date">Release date</label>
    <input name="release_date" type="date"/>
    <br/>
    Length
    <br/>
    <label for="hours">Hours</label>
    <input name="hours" type="number" min="0" max="23" required/>
    <label for="minutes">Minutes</label>
    <input name="minutes" type="number" min="0" max="59"required/>
    <br/>
    <select name="original_language">
        <option value="NULL">[none]</option>
        <% for(let language of languages) { %>
            <option value="<%= language.language_id %>">
                <%= language.language_name %>
            </option>
        <% } %>
    </select>
    <br/>
    <input type="submit" value="Add movie"/>
</form>
<br/>

<h2>Movie list</h2>
<table>
    <tr>
        <th>ID</th>
        <th>title</th>
        <th>genres</th>
        <th>age rating</th>
        <th>release date</th>
        <th>language</th>
        <th>directed by</th>
        <th>screenplay by</th>
        <th>starring</th>
        <th>music by</th>
        <th>produced by</th>
        <th>reviewed as</th>
    </tr>
    <% for(let movie of movies) { %>
        <tr>
            <td><%= movie.movie_id %></td>
            <td><a href="/alter-movie?movie_id=<%= movie.movie_id %>"><%= movie.title %></a></td>
            <td><%= movie.genres %></td>
            <td><%= movie.age_rating %></td>
            <td>
                <% if(movie.release_date != null) { %>
                    <%= movie.release_date.toLocaleDateString() %>
                <% } %>
            </td>
            <td><%= movie.original_language %></td>
            <td><%= movie.directed_by %></td>
            <td><%= movie.screenplay_by %></td>
            <td><%= movie.starring %></td>
            <td><%= movie.music_by %></td>
            <td><%= movie.produced_by %></td>
            <td><%= movie.reviewed_as %></td>
        </tr>
    <% } %>
</table>
